<ul class="nav nav-tabs">
        <li><a class="active" id="firstAnchor" data-toggle="tab" href="#userId" (click)="onTabClicked($event)">User</a></li>
        <li><a class="inactive" id="secondAnchor" data-toggle="tab" href="#shopId" (click)="onTabClicked($event)">Shop</a></li>
</ul>

<div class="tab-content">
<div class="userDiv register tab-pane" id="userId">
 <form class="" (submit)="formSubmission()">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" [formControl]="name" id="inputName" aria-describedby="nameHelp" placeholder="Enter Name">
        <small id="nameHelp" class="form-text text-muted">Please enter your name</small>
    </div>        
    <div class="form-group">
       <label for="inputPincode">Pincode</label>
       <input type="text" class="form-control" [formControl]="pincode" id="inputPincode" aria-describedby="pincodeHelp" placeholder="Enter Pincode">
       <small id="pincodeHelp" class="form-text text-muted">The system is bound with the pincode primarily</small>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="text" class="form-control" [formControl]="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email">
        <small id="emailHelp" class="form-text text-muted">We will never share your email</small>
    </div>
     <button type="submit" class="btn btn-primary" (click)="submitFunction()">Submit</button>
 </form>
 
 <div class="userSvg">
    <div class="welcomNote">
        <p>Please register here as an User</p>
    </div>

    <div class="svgAnimation">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
    </div>
</div>
</div>

<div class="shopDiv register tab-pane" id="shopId">
    
    <form class="" (submit)="formSubmission()">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" [formControl]="name" id="inputName" aria-describedby="nameHelp" placeholder="Enter Name">
            <small id="nameHelp" class="form-text text-muted">Please enter your name</small>
        </div>        
        <div class="form-group">
           <label for="inputPincode">Pincode</label>
           <input type="text" class="form-control" [formControl]="pincode" id="inputPincode" aria-describedby="pincodeHelp" placeholder="Enter Pincode">
           <small id="pincodeHelp" class="form-text text-muted">The system is bound with the pincode primarily</small>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" class="form-control" [formControl]="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email">
            <small id="emailHelp" class="form-text text-muted">We will never share your email</small>
        </div>
         <button type="submit" class="btn btn-primary" (click)="submitFunction()">Submit</button>
     </form>
     
     <div class="userSvg">
        <div class="welcomNote">
            <p>Please register here as a shopkeeper</p>
        </div>
    
        <div class="svgAnimation">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </div>
    </div>

</div>

<!-- <div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="">
      <h3>Welcome </h3>
    </div>
  </div>
</div>


<div class="container register">
  <div class="row">
      <div class="col-md-3 register-left">
          <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
          <h3>Welcome</h3>
          <p>You are 30 seconds away from earning your own money!</p>
          <input type="submit" name="" value="Login"/><br/>
      </div>
      <div class="col-md-9 register-right">
          <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
              </li>
          </ul>
          <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <h3 class="register-heading">Apply as a Employee</h3>
                  <div class="row register-form">
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="First Name *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Last Name *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="Password *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                          </div>
                          <div class="form-group">
                              <div>
                                  <label class="d-inline"> 
                                      <input type="radio" class="form-control" name="gender" value="male" checked>
                                      <span> Male </span> 
                                  </label>
                                  <label class="d-inline"> 
                                      <input type="radio" class="form-control" name="gender" value="female">
                                      <span>Female </span> 
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="Your Email *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                          </div>
                          <div class="form-group">
                              <select class="form-control">
                                  <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                  <option>What is your Birthdate?</option>
                                  <option>What is Your old Phone Number</option>
                                  <option>What is your Pet Name?</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                          </div>
                          <input type="submit" class="btnRegister"  value="Register"/>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <h3  class="register-heading">Apply as a Hirer</h3>
                  <div class="row register-form">
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="First Name *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Last Name *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="Email *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                          </div>


                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="Password *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                          </div>
                          <div class="form-group">
                              <select class="form-control">
                                  <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                  <option>What is your Birthdate?</option>
                                  <option>What is Your old Phone Number</option>
                                  <option>What is your Pet Name?</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="`Answer *" value="" />
                          </div>
                          <input type="submit" class="btnRegister"  value="Register"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div> -->